/** @format */

@import url("http://fonts.cdnfonts.com/css/euphoria-script");

.logo {
  font-family: "Euphoria Script", sans-serif !important;
  font-size: 40px !important;
  font-weight: 600;
  cursor: pointer;
  text-shadow: -1px -1px 2px rgb(0, 0, 0), 1px -1px 2px rgb(0, 0, 0), -1px 1px 2px rgb(0, 0, 0), 1px 1px 2px rgb(0, 0, 0);
  color: rgb(239, 239, 239);
}
*{
  margin: 0;
  box-sizing: border-box;
}
